/* ============================================================
   CNDS Breadcrumb
   Cloudficient Nimbus Design System v1.0.0
   ============================================================ */

.breadcrumb {
  --cnds-breadcrumb-padding-x: 0;
  --cnds-breadcrumb-padding-y: 0;
  --cnds-breadcrumb-margin-bottom: 1rem;
  --cnds-breadcrumb-bg: ;
  --cnds-breadcrumb-border-radius: ;
  --cnds-breadcrumb-divider-color: var(--cnds-primary-gray-600, #666666);
  --cnds-breadcrumb-item-padding-x: 0.5rem;
  --cnds-breadcrumb-item-active-color: var(--cnds-primary-gray-600, #666666);

  display: flex;
  flex-wrap: wrap;
  padding: var(--cnds-breadcrumb-padding-y) var(--cnds-breadcrumb-padding-x);
  margin-bottom: var(--cnds-breadcrumb-margin-bottom);
  font-size: var(--cnds-breadcrumb-font-size);
  list-style: none;
  background-color: var(--cnds-breadcrumb-bg);
  border-radius: var(--cnds-breadcrumb-border-radius);
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--cnds-breadcrumb-item-padding-x);
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--cnds-breadcrumb-item-padding-x);
  color: var(--cnds-breadcrumb-divider-color);
  content: var(--cnds-breadcrumb-divider, "/");
}

.breadcrumb-item.active {
  color: var(--cnds-breadcrumb-item-active-color);
}
